/* Color Variables */
:root {
--dark-purple: #351431ff;
--persian-orange: #e08e45ff;
--vanilla: #f8f4a6ff;
--tea-green: #bdf7b7ff;
--brunswick-green: #29524aff;
--cerise: #e43f6fff;
--rose-pompadour: #ff7b9cff;
--oxford-blue: #001b2eff;
--charcoal: #294c60ff;
--french-gray: #adb6c4ff;
--coral: #f38d68ff;
--mindaro: #c0da74ff;
--eerie-black: #222823ff;
--black: #08090aff;
--dark-slate-gray: #35605aff;
--rosewood: #6b0f1aff;
--vermilion: #f24236ff;
--drab-dark-brown: #2f2504ff;
--drab-brown-2: #594e36ff;
/* still testing colors */
--rich-black: #05171cff;
--dark-green: #162721ff;
--black-olive: #38382bff;
--chamoisee: #99734fff;
--rich-black-2: #03111bff;
--vanilla: #f8f4a6ff;
}

/* font-family: 'Montserrat', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Press Start 2P', cursive; 
font-family: 'Rock Salt', cursive;
font-family: 'Audiowide', cursive; */

/* NavBar Styles */
.navbar-custom {
	background-color: var(--eerie-black);
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 1.2rem;
}

.navbar-custom .navbar-brand {
	color: var(--vanilla);
  font-family: 'Audiowide', cursive;
}

.navbar-custom .navbar-brand:hover {
	color: var(--tea-green);
}
  
.navbar-custom .nav-link {
	color: var(--vanilla);
  transition: transform 0.3s ease, color 0.3s ease;
}
  
.navbar-custom .nav-link:hover {
	color: var(--tea-green);
  transform: scale(1.1);
}

.navbar-custom .nav-link:visited {
	color: var(--vanilla);
}

.navbar-custom .navbar-toggler-icon {
  background-color: var(--vanilla);
}

.navbar-custom .navbar-toggler {
  border-color: var(--vanilla);
}

.navbar-custom .navbar-toggler:hover .navbar-toggler-icon {
  background-color: var(--tea-green);
}

.navbar-custom .navbar-collapse .nav-link:hover {
  color: var(--tea-green);
}

.navbar-custom.border {
  border-color: var(--vanilla) !important;
}

/* BodyStyles */
body {
  background-color: var(--black-olive);
  color: var(--oxford-blue);
}

/* for tags, didn't like Bootstrap Shadow */
	/* didn't like Bootstrap Shadow */
	.custom-shadow {
		box-shadow: 0 0 10px var(--rich-black);
	}

	/* text shadows */
	.text-shadow {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	}

/* Hero Section Styles */
.hero-h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: var(--tea-green);
  text-align: center;
  margin-top: 7vh;
}

.hero-text {
  font-family: 'Rock Salt', cursive;
  font-size: 1.5rem;
  color: var(--mindaro);
  text-align: center;
  margin-top: 2vh;
}

/* Hero Video */
.hero-section {
  position: relative;
  height: 40vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 25%;
  left: 50%;
  min-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

/* Music Player Styles */
.mp-custom.border {
  background-color: var(--black-olive) !important;
  border-color: var(--tea-green) !important;
}
.mp-holder {
  background-color: var(--eerie-black) !important;
  border-color: var(--vanilla) !important;
}
.musicplayer-h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: var(--tea-green);
  text-align: center;
  margin-top: 0vh;
}
.musicplayer-text {
  font-family: 'Rock Salt', cursive;
  font-size: 1rem;
  color: var(--mindaro);
  text-align: center;
  margin-top: 2.5vh;
}
.warning-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--vanilla);
  text-align: center;
  margin-top: 2.5vh;
}
/* Music Player Styling */
.playlist-h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: var(--tea-green);
  text-align: center;
  margin-top: 2vh;
}
.theme-buttons {
  font-family: 'Audiowide', cursive;
  color: var(--mindaro);
  border-color: var(--tea-green);
}
.theme-buttons:hover {
  background-color: none;
  color: var(--vanilla);
  border-color: var(--tea-green);
  transform: scale(1.1);
}

.player-buttons {
  font-family: 'Audiowide', cursive;
  color: var(--mindaro);
  border-color: var(--tea-green);
}
.player-buttons:hover {
  background-color: none;
  border-color: var(--tea-green);
}

.dropdown-custom {
  background-color: var(--eerie-black);
  color: var(--vanilla);
  font-family: 'Rubik Mono One', sans-serif;
}

/* Contact Section Styles */
.contact-h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: var(--tea-green);
  text-align: center;
  margin-top: 7vh;
}

.contact-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: var(--mindaro);
  text-align: center;
  margin-top: 2vh;
}

a.contact-text {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: var(--mindaro);
  text-align: center;
  margin-top: 2vh;
  text-decoration: none;
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

a.contact-text:hover {
  color: var(--vanilla);
  transform: scale(1.1);
}

/* Footer Bottom Styling */
.footer-custom {
  background-color: var(--eerie-black);
  color: var(--vanilla);
  font-family: 'Rubik Mono One', sans-serif;
}

.footer-custom.border {
  border-color: var(--vanilla) !important;
}

/* Footer Video Styling */
.footer-section {
  position: relative;
  height: 40vh;
  overflow: hidden;
}

.footer-video {
  position: absolute;
  top: 25%;
  left: 50%;
  min-width: 100%;
  max-height: auto;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}

/* Music Video Carousel */
.music-carousel-buttons {
  background-color: var(--eerie-black);
  color: var(--vanilla);
  font-family: 'Rubik Mono One', sans-serif;
}
#musicVideoCarousel {
  position: relative;
}
.carousel-wrapper {
  max-width: 100%;
  background-color: var(--eerie-black);
}
.carousel-wrapper.border {
  border-color: var(--vanilla) !important;
}

/* Login Buttons */
.login-buttons {
  font-family: 'Audiowide', cursive;
  color: var(--mindaro);
  border-color: var(--tea-green);
  background-color: var(--chamoisee);
  transition: transform 0.3s ease, color 0.3s ease;
}
.login-buttons:hover {
  background-color: var(--drab-brown-2);
  border-color: var(--tea-green);
  color: var(--chamoisee);
  transform: scale(1.1);
}

/* Instructions Styling */
.instructions-h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  color: var(--tea-green);
  text-align: center;
  margin-top: 0vh;
}
.instructions-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  color: var(--mindaro);
  text-align: center;
  margin-top: 2.5vh;
  list-style: none;
}

/* Screen Size adjustments */

@media (max-width: 768px) {
  /* hero section */
  .hero-h1 {
    font-size: 2.3rem;
    margin-top: 5vh;
  }

  .hero-text {
    font-size: 1.5rem;
    margin-top: 2vh;
  }
  /* contact section */
  .contact-h1 {
    font-size: 2.3rem;
    margin-top: 5vh;
  }

  .contact-text {
    font-size: 1.5rem;
    margin-top: 2vh;
  }
}

@media (max-width: 576px) {
  /* hero section */
  .hero-h1 {
    font-size: 1.5rem;
    margin-top: 10vh;
  }

  .hero-text {
    font-size: 1.2rem;
    margin-top: 3vh;
  }
}
